canvas {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.cont {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 10px;
   color: white;
   height: fit-content;
   width: 20%;
   align-items: center;
}

#color{
    height: 100px;
    width: 100px;
    padding: 2px;
}
.tiny_icon {
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 30px;
    margin-left: 20px;
}

#settings {
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: cubic-bezier(0.85, 0.85, 0.14, 0.92) 1s;
    background-color: #000000db;
    display: flex;
    flex-flow: row wrap;
    z-index: 20;

}

#settings button {
    height: 10%;
    width: 8%;
    position: absolute;
    bottom: 5%;
    right: 2%;
}

#settings button:hover {
    height: 11%;
    width: 9%;
    bottom: 4.5%;
    right: 1.5%;
    transition: all ease 0.1s;
}
